.DS_Store

node_modules/
components/**/node_modules/
components/**/dist/
components/**/.stencil/
components/**/www/
apps/**/node_modules/
apps/**/dist/
apps/**/.angular/
apps/**/coverage/
apps/**/.vscode/
components/core/loader/
components/core/src/components.d.ts
components/core/src/components/**/readme.md
coverage/
*.log
