accretion-accordion-item {
  border-top: 1px solid var(--accretion-semantic-accordion-item-separator-color);
  display: block;
}

accretion-accordion-item:first-of-type {
  border-top: none;
}

accretion-accordion-item[data-open] {
  background: var(--accretion-semantic-accordion-trigger-background-open);
}

accretion-accordion-item[data-disabled] {
  opacity: var(--accretion-semantic-accordion-disabled-opacity);
}
